In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('mlbootcamp5_train.csv', sep=';', 
                 index_col='id')

In [3]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [6]:
df['height'].mean()

164.35922857142856

In [4]:

df[(df['height']) & (df['gender'] == 2)].mean()

age            19373.721709
gender             2.000000
height           169.827422
weight            77.001123
ap_hi            129.934228
ap_lo            101.881570
cholesterol        1.328266
gluc               1.211028
smoke              0.221162
alco               0.101242
active             0.797715
cardio             0.501341
dtype: float64

In [5]:
df[(df['gender'] == 1)].mean()

age            19510.124577
gender             1.000000
height           161.355612
weight            72.565605
ap_hi            128.139249
ap_lo             94.522776
cholesterol        1.384735
gluc               1.235054
smoke              0.017856
alco               0.025500
active             0.802021
cardio             0.496727
dtype: float64

2 - men
1 - woomen

In [6]:
df['gender'].value_counts()

1    45530
2    24470
Name: gender, dtype: int64

In [7]:
df[(df['height']) & (df['gender'] == 2)]['alco'].mean()

0.10124192747143566

In [8]:
df[(df['height']) & (df['gender'] == 1)]['alco'].mean()

0.024889581709534946

men - 0.10124192747143566
woomen - 0.024889581709534946

In [9]:
not_smoke_woomen, smoke_woomen = [i for i in df[(df['gender'] == 1)]['smoke'].value_counts()]

In [10]:
not_smoke_men, smoke_men = [i for i in df[(df['gender'] == 2)]['smoke'].value_counts()]

In [11]:
round((smoke_men/(not_smoke_men + smoke_men))/(smoke_woomen/(not_smoke_woomen + smoke_woomen)))

12.0

### Процент курящих мужчин больще в 12 раз

In [12]:
df['age'] = df['age']/365.25

In [13]:
df[(df['smoke'] == 1)].median()

age             52.361396
gender           2.000000
height         170.000000
weight          75.000000
ap_hi          120.000000
ap_lo           80.000000
cholesterol      1.000000
gluc             1.000000
smoke            1.000000
alco             0.000000
active           1.000000
cardio           0.000000
dtype: float64

In [14]:
df[(df['smoke'] == 0)].median()

age             53.995893
gender           1.000000
height         164.000000
weight          72.000000
ap_hi          120.000000
ap_lo           80.000000
cholesterol      1.000000
gluc             1.000000
smoke            0.000000
alco             0.000000
active           1.000000
cardio           1.000000
dtype: float64

In [15]:
52.361396*12

628.3367519999999

In [16]:
53.995893*12

647.950716

### 24 - 4.8

In [35]:
12/10*4

4.8

In [17]:
def get_bmi(x):
    return x

In [18]:
df['BMI'] = df['weight']/((df['height']/100)**2)

In [19]:
df['BMI'].median()

26.374068120774975

In [20]:
df[(df['gender'] == 1)]['BMI'].mean()

27.98758344183312

In [21]:
df[(df['gender'] == 2)]['BMI'].mean()

26.754442357289474

### BMI_Woom = 27.98758344183312   BMI_Men = 26.754442357289474

In [22]:
df[(df['cardio'] == 0)]['BMI'].mean()

26.54817520679475

In [23]:
df[(df['cardio'] == 1)]['BMI'].mean()

28.566060627015435

### BMI_zdorovih = 26.54817520679475   BMI_bolnih = 28.566060627015435

In [24]:
df[(df['gender'] == 2) & (df['alco'] == 0) & (df['cardio'] == 0)]['BMI'].mean()

25.872638075460173

In [25]:
df[(df['gender'] == 1) & (df['alco'] == 0) & (df['cardio'] == 0)]['BMI'].mean()

26.845406594131518

### BMI_Woom = 26.845406594131518 BMI_Men = 25.872638075460173 Непьющие и здоровые

In [26]:
df['weight'].quantile(0.025)

51.0

In [27]:
df.shape

(70000, 13)

In [28]:
bf = df[df['ap_hi'] > df['ap_lo']]

In [29]:
bf.shape

(68764, 13)

In [30]:
bf = df[(df['height'] >= df['height'].quantile(0.025)) 
        & (df['height'] <= df['height'].quantile(0.975))
        & (df['weight'] <= df['weight'].quantile(0.975)) 
        & (df['weight'] >= df['weight'].quantile(0.025))
        & (df['ap_hi'] > df['ap_lo'])]

In [31]:
bf = df[df['ap_hi'] > df['ap_lo']]

In [32]:
bf = bf[(bf['weight'] < bf['weight'].quantile(0.975)) & (bf['weight'] > bf['weight'].quantile(0.025))]

In [33]:
round((df.shape[0] - bf.shape[0])/ df.shape[0]*100)

7

In [178]:
df.shape[0]

70000

In [189]:
bf.shape[0]

63259

In [220]:
zf = df

In [224]:
zf.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,50.0,2,168,62.0,110,80,1,1,0,0,1,0
1,55.0,1,156,85.0,140,90,3,1,0,0,1,1
2,52.0,1,165,64.0,130,70,3,1,0,0,0,1
3,48.0,2,169,82.0,150,100,1,1,0,0,1,1
4,48.0,1,156,56.0,100,60,1,1,0,0,0,0

In [217]:
zf['age'] = round(zf['age']/365)

In [223]:
zf['age'] = round(zf['age'])

In [34]:
zf = df[(df['age'] >= 60) 
        & (df['age'] <= 64) 
        & (df['smoke'] == 1) 
        & (df['gender'] == 2)
        & (df['ap_hi'] < 120)
        & (df['cholesterol'] == 1)]

In [35]:
zf.shape

(47, 13)

In [36]:
zf['cardio'].value_counts()

0    34
1    13
Name: cardio, dtype: int64

In [37]:
yf = df[(df['age'] >= 60) 
        & (df['age'] <= 64) 
        & (df['smoke'] == 1) 
        & (df['gender'] == 2)
        & ( df['ap_hi'] >= 160 )
        & (df['ap_hi'] < 180)
        & (df['cholesterol'] == 3)]

In [38]:
yf.shape

(14, 13)

In [39]:
yf['cardio'].value_counts()

1    13
0     1
Name: cardio, dtype: int64

In [40]:
(13/47)

0.2765957446808511

In [41]:
13/14

0.9285714285714286

In [247]:
round(0.9285714285714286 / 0.2564102564102564)

3